

.container-background{
    position: relative;
}

.form-container{
    padding-top: 15px;
    padding-bottom: 15px;
}

.bg-img{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    background: url("frontend/assets/img/stock-market-bg2.jpg") no-repeat cover;
}

.login-card{
    position: fixed;
    top: 27%;
    left: 22%;
    border-radius: 20px;
    height: 300px;
    width: 800px;
    background: inherit;
    backdrop-filter: blur(10px);
}

.register-card{
    position: fixed;
    top: 27%;
    left: 22%;
    border-radius: 20px;
    height: 350x;
    width: 800px;
    background: inherit;
    backdrop-filter: blur(10px);
}

#home-overlay{
    background-color: rgba(0,0,0,0.4);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.email-label, .password-label, .forgot-password-btn, .remember-label, .login-label{
    color: #FFF
}

.login-label, .register-label{
    font-size: 16px;
}
.submit-login-btn{
    background-color: #FFF;
    background: inherit;
    border-color: gray;
    font-size: 16px;
    /* backdrop-filter: blur(10px); */
}

.register-btn, .login-btn{
    color: #FFF!important;
}

ul.navbar-nav>li>a{
    /* font-family: 'Raleway',sans-serif; */
    color: #fff;
    /* font-size: 13px; */
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 0.4rem 0;
    min-width: 100px;
    text-align: center;
}

.navbar .navbar-nav{
    /* transform: translateY(50%); */
    color: #FFF;
}

.navbar-brand{
    padding-top: 25px;
}

.text-green{
    color: green;
    letter-spacing: 2px;
}

.test-red{
    color: red;
    letter-spacing: 2px;
}

.register-label, .name-label, .confirm-password-label, .email-label, .password-label, .phone-label{
    color: #FFF;
}
